.profile-container {
    width: 340px;
    height: 100vh; 

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        padding: 20px;
        border-bottom: 1px solid rgb(240, 240, 240);

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

        .text {
            h4 {
                color: #363B45;
                font-size: 17px;
                font-weight: 500;
                padding-bottom: 4px;
            }

            .status {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 4px;

                span {
                    color: #24DB24;
                    font-size: 14px;
                    font-weight: 400;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #24DB24;
                }

                h5 {
                    color: #3F4550;
                    font-weight: 14px;
                    font-weight: 300;
                }
            }
        }
    }

    .profile-content {
        border-bottom: 1px solid rgb(240, 240, 240); 
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img {
            position: relative;
            width: 120px;
            padding-bottom: 20px;

            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                border-radius: 50%;

            }

            span.online {
                position: absolute;
                top: 5px;
                right: 10px;
                color: #24DB24;
                font-size: 14px;
                font-weight: 400;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #24DB24;
            }
        }
        h4{
            color: #363B45;
            font-weight: 500;
            font-size: 24px;
            padding-bottom: 8px;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            color: #4C5361;
            padding-bottom: 16px;
        }
        span{
            border: 1px solid #E4C219;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}